/* line 74, ../sass/_varaibles.scss */
#footer .fmenu ul, #footer .bottom-footer .social-col ul, #mainmenu .tab-container ul, #search-form-box .tab-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 88, ../sass/_varaibles.scss */
.page-title {
  margin: 0 0 70px;
}
/* line 90, ../sass/_varaibles.scss */
.page-title h3 {
  font-size: 49px;
  font-weight: 700;
  color: #3e403e;
  position: relative;
  margin: 0 0 15px;
  text-transform: uppercase;
  padding-left: 50px;
  text-align: center;
}
/* line 93, ../sass/_varaibles.scss */
.page-title h3:before {
  content: "";
  display: block;
  margin: 0 auto 34px;
  width: 1px;
  height: 85px;
  background: #c4c4c4;
}
/* line 94, ../sass/_varaibles.scss */
.page-title h3 span {
  display: block;
  margin: 0 0 5px;
  color: #858585;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.05em;
}
@media only screen and (max-width: 1170px) {
  /* line 88, ../sass/_varaibles.scss */
  .page-title {
    margin: 0 0 30px;
  }
  /* line 98, ../sass/_varaibles.scss */
  .page-title h3 {
    font-size: 32px;
    margin: 0 0 20px;
  }
  /* line 100, ../sass/_varaibles.scss */
  .page-title h3 span {
    font-size: 24px;
  }
  /* line 101, ../sass/_varaibles.scss */
  .page-title h3:before {
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform-origin: left top;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 88, ../sass/_varaibles.scss */
  .page-title {
    margin: 0 0 30px;
  }
  /* line 106, ../sass/_varaibles.scss */
  .page-title h3 {
    font-size: 26px;
    margin: 0;
  }
  /* line 108, ../sass/_varaibles.scss */
  .page-title h3 span {
    font-size: 26px;
  }
  /* line 109, ../sass/_varaibles.scss */
  .page-title h3:before {
    transform: scale(0.65);
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform-origin: left top;
  }
}

/* =Box Sizing 
========================================================================================*/
/* line 6, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/style.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/style.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], textarea, select, input[type="button"], input[type="submit"], button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/style.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 11, ../sass/style.scss */
.cf:after {
  clear: both;
}

/* line 12, ../sass/style.scss */
.cf {
  zoom: 1;
}

/* line 15, ../sass/style.scss */
body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #3e403e;
}

/* line 16, ../sass/style.scss */
img {
  vertical-align: top;
  border: 0;
}

/* line 17, ../sass/style.scss */
a {
  outline: none;
}

/* line 18, ../sass/style.scss */
a:focus {
  outline: none;
  text-decoration: none;
}

/* line 19, ../sass/style.scss */
:focus {
  outline: none;
}

/* line 21, ../sass/style.scss */
.cols {
  *zoom: 1;
  margin-left: -20px;
  margin-right: -20px;
  clear: both;
}

/* line 22, ../sass/style.scss */
.cols:after {
  content: "";
  display: table;
  clear: both;
}

/* line 23, ../sass/style.scss */
.cols .col {
  float: left;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 24, ../sass/style.scss */
.cols1 .col {
  width: 100%;
}

/* line 25, ../sass/style.scss */
.cols2 .col {
  width: 50%;
}

/* line 26, ../sass/style.scss */
.cols3 .col {
  width: 33.333333333333%;
}

/* line 27, ../sass/style.scss */
.cols4 .col {
  width: 25%;
}

/* line 28, ../sass/style.scss */
.cols5 .col {
  width: 20%;
}

/* =Form Style
========================================================================================*/
/* line 32, ../sass/style.scss */
button, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, select, input[type="submit"], input[type="button"] {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 33, ../sass/style.scss */
button, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, input[type="submit"], input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 34, ../sass/style.scss */
button, input {
  line-height: normal;
}

/* line 35, ../sass/style.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, select {
  background: #fff;
  padding: 4px 12px;
  height: 48px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  line-height: 1.55;
  border: solid 1px #d4d4d4;
  color: #3e403e;
  width: 100%;
  -moz-transition: border-color 200ms ease-in;
  -webkit-transition: border-color 200ms ease-in;
  transition: border-color 200ms ease-in;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* line 36, ../sass/style.scss */
input[type="text"].input-lg, input[type="password"].input-lg, input[type="email"].input-lg, input[type="tel"].input-lg, input[type="search"].input-lg, input[type="url"].input-lg {
  height: 58px;
}

/* line 37, ../sass/style.scss */
input[type="text"].input-sm, input[type="password"].input-sm, input[type="email"].input-sm, input[type="tel"].input-sm, input[type="search"].input-sm, input[type="url"].input-sm {
  height: 38px;
}

/* line 38, ../sass/style.scss */
textarea {
  width: 100%;
  height: 160px;
  overflow: auto;
  resize: vertical;
  padding: 10px 15px;
  font-family: 'karbon-regular', Helvetica, sans-serif;
}

/* line 39, ../sass/style.scss */
select {
  height: auto;
  padding: 12px 42px 12px 12px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
  background: none;
  line-height: 1.25;
  border-radius: 5px;
  font-size: 16px;
}

/* line 40, ../sass/style.scss */
select::-ms-expand {
  display: none;
}

/* line 41, ../sass/style.scss */
.custom-select {
  display: block;
  margin: 0;
  position: relative;
  background: #fff;
}

/* line 42, ../sass/style.scss */
.custom-select:before {
  content: '';
  position: absolute;
  background: #d4d4d4;
  width: 1px;
  height: 100%;
  right: 45px;
  top: 0;
}

/* line 43, ../sass/style.scss */
.custom-select:after {
  content: '';
  background: url(../images/bgi/sprites.svg) no-repeat -105px 0;
  width: 14px;
  height: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -8px;
}

/* line 44, ../sass/style.scss */
.ie select {
  padding-right: 0;
}

/* line 45, ../sass/style.scss */
.ie .custom-select:before {
  z-index: 2;
  height: 40px;
}

/* line 46, ../sass/style.scss */
.ie .custom-select:after {
  z-index: 3;
}

/* line 47, ../sass/style.scss */
.ie input[type="text"], .ie input[type="password"], .ie input[type="email"], .ie input[type="tel"], .ie input[type="search"], .ie input[type="url"], .ie select {
  line-height: 32px;
}

/* line 49, ../sass/style.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="url"]:focus, textarea:focus, select:focus {
  border: solid 1px #acacac;
}

/* line 50, ../sass/style.scss */
input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 51, ../sass/style.scss */
input[type="button"], input[type="submit"], button {
  background: #7bc144;
  color: #fff;
  border: 0;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 8px 35px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.25;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  border-radius: 0;
  margin: 0 5px 0 0;
}

/* line 52, ../sass/style.scss */
input[type="button"]:hover, input[type="submit"]:hover, button:hover {
  background: #00407c;
  color: #fff;
}

/* line 53, ../sass/style.scss */
input[type="checkbox"], input[type="radio"] {
  margin: 4px 8px 0;
  vertical-align: top;
}

/* =tabnav CSS
========================================================================================*/
/* line 58, ../sass/style.scss */
.tabnav {
  width: 98%;
  margin: 0 auto 60px;
  padding: 0;
  text-align: center;
  list-style: none;
}

/* line 59, ../sass/style.scss */
.tabnav:after {
  display: table;
  content: "";
  clear: both;
}

/* line 60, ../sass/style.scss */
.tabnav li {
  display: inline-block;
  position: relative;
  margin: 0 0 0 20px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 61, ../sass/style.scss */
.tabnav li:first-child {
  margin: 0;
}

/* line 62, ../sass/style.scss */
.tabnav li h2 {
  margin: 0;
  font-size: 15px;
}

/* line 63, ../sass/style.scss */
.tabnav li a {
  outline: none;
  display: block;
  padding: 0 0 5px;
  text-decoration: none;
  font-size: 26px;
  border-bottom: 2px solid #1c2c42;
  color: #1c2c42;
  line-height: 1.25;
}

/* line 64, ../sass/style.scss */
.tabnav li:first-child a {
  border-left: 0;
}

/* line 65, ../sass/style.scss */
.tabnav li.active a, .tabnav li a:hover {
  border-bottom-color: #26a8e0;
  color: #26a8e0;
}

/* line 67, ../sass/style.scss */
.tabnav li.active a:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid #26a8e0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 100%;
}

/* line 69, ../sass/style.scss */
.tabnav li.active a:after {
  display: block;
}

/* line 70, ../sass/style.scss */
.tab-container {
  padding: 20px;
  border: solid 1px #e9edee;
  border-top: 0;
}

/* line 71, ../sass/style.scss */
.tabcontent .quicklist li, .tabcontent .quicklist {
  margin: 0;
}

/* line 72, ../sass/style.scss */
.tabcontent {
  display: none;
}

/* line 73, ../sass/style.scss */
.tabcontent p {
  color: #666;
  margin: 20px 0 0;
}

/* line 74, ../sass/style.scss */
.tabcontent p:first-child {
  margin-top: 0;
}

/* line 75, ../sass/style.scss */
.tabcontent p a, .accordion-data p a {
  color: #7f97ae;
  text-decoration: underline;
}

/* line 76, ../sass/style.scss */
.tabcontent p a:hover, .accordion-data p a:hover {
  color: #00305d;
}

/* line 77, ../sass/style.scss */
.tabcontent h4 {
  margin: 0 0 15px;
}

/* =Layout Width
========================================================================================*/
/* line 82, ../sass/style.scss */
.container {
  width: 1280px;
}

/* line 84, ../sass/style.scss */
#header {
  padding: 20px 0;
}
/* line 86, ../sass/style.scss */
#header #logo {
  width: 200px;
  float: left;
}
/* line 88, ../sass/style.scss */
#header #logo img {
  width: 100%;
  height: auto;
}
/* line 90, ../sass/style.scss */
#header .right-header {
  text-align: right;
  margin: 15px 0 0;
}
/* line 92, ../sass/style.scss */
#header .right-header > a {
  display: inline-block;
  text-align: center;
}
/* line 94, ../sass/style.scss */
#header .right-header > a:hover {
  text-decoration: none;
  opacity: 0.75;
}
/* line 97, ../sass/style.scss */
#header .menulines-button {
  padding: 0;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #3e403e;
  line-height: 25px;
}
/* line 98, ../sass/style.scss */
#header .menulines-button:hover {
  opacity: 1;
}
/* line 99, ../sass/style.scss */
#header .menulines {
  display: inline-block;
  width: 25px;
  height: 2px;
  background: #3e403e;
  position: relative;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  -moz-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -ms-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  opacity: 1;
}
/* line 100, ../sass/style.scss */
#header .menulines:before, #header .menulines:after {
  display: inline-block;
  width: 25px;
  height: 2px;
  background: #3e403e;
  transition: 550ms;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -moz-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -ms-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transform-origin: 0.28571rem center;
  -moz-transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}
/* line 101, ../sass/style.scss */
#header .menulines:before {
  top: 7px;
}
/* line 102, ../sass/style.scss */
#header .menulines:after {
  top: -7px;
}
/* line 103, ../sass/style.scss */
#header .menuopen .menulines {
  background: none;
}
/* line 104, ../sass/style.scss */
#header .menuopen .menulines:before, #header .menuopen .menulines:after {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
}
/* line 105, ../sass/style.scss */
#header .menuopen .menulines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
/* line 106, ../sass/style.scss */
#header .menuopen .menulines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
/* line 107, ../sass/style.scss */
#header #menu em, #header #search-trigger {
  font-style: normal;
  display: block;
  color: #3e403e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 108, ../sass/style.scss */
#header #search-trigger {
  display: inline-block;
  margin: 0 10px 0 0;
}
/* line 110, ../sass/style.scss */
#header #search-trigger:before {
  content: "";
  display: block;
  margin: 0 auto 5px;
  width: 20px;
  height: 20px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -239px -414px;
}

/* line 118, ../sass/style.scss */
.btn-primary {
  background: #fff;
  border: 1px solid #eceeed;
  padding: 8px 28px;
  font-size: 18px;
  color: #3e403e;
  text-transform: uppercase;
}
/* line 120, ../sass/style.scss */
.btn-primary:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -382px -308px;
  margin-left: 10px;
}
/* line 121, ../sass/style.scss */
.btn-primary:hover:after {
  width: 12px;
  height: 12px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -367px -308px;
}

/* line 125, ../sass/style.scss */
.home-top-container .row {
  margin: 0 -10px;
}
/* line 127, ../sass/style.scss */
.home-top-container .row .row {
  margin: 0 -10px 20px;
}
/* line 129, ../sass/style.scss */
.home-top-container .col-sm-6, .home-top-container .col-sm-3, .home-top-container .col-sm-12 {
  padding: 0 10px;
}
/* line 130, ../sass/style.scss */
.home-top-container .container-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 131, ../sass/style.scss */
.home-top-container a {
  color: #fff;
}
/* line 133, ../sass/style.scss */
.home-top-container a:hover {
  text-decoration: none;
}
/* line 135, ../sass/style.scss */
.home-top-container .col-box {
  position: relative;
  padding-top: 100%;
}
/* line 136, ../sass/style.scss */
.home-top-container .slider-col .container-box, .home-top-container .video-box .container-box {
  background: #eceeed;
}
/* line 137, ../sass/style.scss */
.home-top-container .develop-box .container-box {
  background: #7bc144;
}
/* line 138, ../sass/style.scss */
.home-top-container .product-box .container-box {
  background: #502e61;
}
/* line 139, ../sass/style.scss */
.home-top-container .blog-box .container-box, .home-top-container .technology-box .container-box {
  background: #00407c;
}
/* line 141, ../sass/style.scss */
.home-top-container .news-box .container-box {
  overflow: hidden;
  background: #f69c00;
  color: #fff;
  padding: 20px;
}
/* line 143, ../sass/style.scss */
.home-top-container .news-box .container-box h4 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 20px;
}
/* line 145, ../sass/style.scss */
.home-top-container .news-box .container-box h4 span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.08em;
}
/* line 149, ../sass/style.scss */
.home-top-container .news-box, .home-top-container .video-box {
  padding-top: 48.30659536541889%;
}
/* line 151, ../sass/style.scss */
.home-top-container .video-box .video-summary {
  position: absolute;
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
/* line 153, ../sass/style.scss */
.home-top-container .video-box .video-summary h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}
/* line 155, ../sass/style.scss */
.home-top-container .video-box .video-summary h3 span {
  display: block;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.075em;
}
/* line 160, ../sass/style.scss */
.home-top-container .box-col {
  display: table;
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  text-align: center;
}
/* line 161, ../sass/style.scss */
.home-top-container .box-info {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}
/* line 163, ../sass/style.scss */
.home-top-container .box-info h4 {
  font-size: 20px;
  margin: 40px 0 0;
}
/* line 167, ../sass/style.scss */
.home-top-container .container-box.container-link {
  cursor: pointer;
}
/* line 169, ../sass/style.scss */
.home-top-container .container-box.container-link > .box-col {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -moz-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -o-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -ms-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
}
/* line 170, ../sass/style.scss */
.home-top-container .container-box.container-link .box-overlay {
  width: 100%;
  height: 100%;
  background: #56872f;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -moz-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -o-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -ms-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  z-index: 10;
}
/* line 171, ../sass/style.scss */
.home-top-container .container-box.container-link:hover > .box-col {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
}
/* line 172, ../sass/style.scss */
.home-top-container .container-box.container-link:hover .box-overlay {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
}
/* line 173, ../sass/style.scss */
.home-top-container .container-box.container-link .btn-primary {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  margin: 15px 0 0;
  display: inline-block;
}
/* line 175, ../sass/style.scss */
.home-top-container .container-box.container-link .btn-primary:after {
  width: 12px;
  height: 12px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -367px -308px;
}
/* line 181, ../sass/style.scss */
.home-top-container .product-box .container-box.container-link .box-overlay {
  background: #382044;
}
/* line 186, ../sass/style.scss */
.home-top-container .blog-box .container-box.container-link .box-overlay, .home-top-container .technology-box .container-box.container-link .box-overlay {
  background: #002d57;
}
/* line 190, ../sass/style.scss */
.home-top-container .icons {
  display: inline-block;
}
/* line 192, ../sass/style.scss */
.home-top-container .icons.icon-rd {
  width: 100px;
  height: 119px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -29px -20px;
}
/* line 193, ../sass/style.scss */
.home-top-container .icons.icon-product {
  width: 81px;
  height: 105px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -163px -28px;
}
/* line 194, ../sass/style.scss */
.home-top-container .icons.icon-blog {
  width: 108px;
  height: 108px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -406px -32px;
}
/* line 195, ../sass/style.scss */
.home-top-container .icons.icon-technology {
  width: 110px;
  height: 80px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -265px -28px;
}

/* line 200, ../sass/style.scss */
.section {
  padding: 0 0 60px;
}

/* line 202, ../sass/style.scss */
.resech-section {
  margin: 60px 0;
}
/* line 204, ../sass/style.scss */
.resech-section .box-col {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  text-align: center;
}
/* line 205, ../sass/style.scss */
.resech-section .box-info {
  display: table-cell;
  vertical-align: middle;
}
/* line 207, ../sass/style.scss */
.resech-section .box-info h4 {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7bc144;
}
/* line 209, ../sass/style.scss */
.resech-section .icon {
  display: block;
  margin: 0 auto 20px;
  text-indent: -999em;
}
/* line 211, ../sass/style.scss */
.resech-section .icon.icon-unknown {
  width: 66px;
  height: 85px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -118px -188px;
}
/* line 212, ../sass/style.scss */
.resech-section .icon.icon-experiment {
  width: 80px;
  height: 80px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -320px -188px;
}
/* line 213, ../sass/style.scss */
.resech-section .icon.icon-increment {
  width: 78px;
  height: 82px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -213px -192px;
}
/* line 214, ../sass/style.scss */
.resech-section .icon.icon-exits {
  width: 95px;
  height: 68px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -10px -314px;
  position: relative;
  left: -50px;
}
/* line 215, ../sass/style.scss */
.resech-section .icon.icon-known {
  width: 85px;
  height: 62px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -124px -317px;
  position: relative;
  left: 20px;
}
/* line 216, ../sass/style.scss */
.resech-section .icon.icon-break {
  width: 78px;
  height: 82px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -213px -192px;
  position: relative;
  left: 20px;
}
/* line 217, ../sass/style.scss */
.resech-section .icon.icon-risk {
  width: 78px;
  height: 72px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -19px -193px;
  position: relative;
  left: 0;
}
/* line 218, ../sass/style.scss */
.resech-section .icon.icon-creative {
  width: 82px;
  height: 85px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -239px -308px;
  position: relative;
  left: 0;
}
/* line 220, ../sass/style.scss */
.resech-section .chart-container {
  margin: 0 auto;
  width: 680px;
  position: relative;
  height: 830px;
}
/* line 223, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-00 {
  width: 230px;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 226, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-01 {
  position: absolute;
  left: 180px;
  top: 12px;
  width: 302px;
  height: 278px;
  background: url(../images/chart-01.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
/* line 227, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-01 .box-info {
  vertical-align: bottom;
}
/* line 229, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-01 .box-info h4 {
  margin: 0 0 30px;
}
/* line 232, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-02 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 149px;
  width: 246px;
  height: 264px;
  background: url(../images/chart-02.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
/* line 233, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-02 .box-info {
  text-align: right;
  padding-right: 80px;
}
/* line 235, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-02 .box-info h4 {
  margin: 0;
}
/* line 236, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-02 .box-info .icon-experiment {
  text-align: left;
}
/* line 239, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-03 {
  position: absolute;
  left: 13px;
  top: 422px;
  width: 252px;
  height: 264px;
  background: url(../images/chart-03.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
/* line 240, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-03 .box-info {
  text-align: right;
  padding-right: 100px;
}
/* line 242, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-03 .box-info h4 {
  margin: 0;
}
/* line 243, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-03 .box-info .icon-increment {
  text-align: left;
}
/* line 247, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-04 {
  position: absolute;
  left: 272px;
  top: 540px;
  width: 212px;
  height: 273px;
  background: url(../images/chart-04.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
/* line 249, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-04 .box-info h4 {
  padding-right: 78px;
}
/* line 252, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-05 {
  position: absolute;
  left: 410px;
  top: 418px;
  width: 244px;
  height: 264px;
  background: url(../images/chart-05.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
/* line 254, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-05 .box-info h4 {
  padding-left: 58px;
}
/* line 257, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-06 {
  position: absolute;
  left: 407px;
  top: 154px;
  width: 254px;
  height: 254px;
  background: url(../images/chart-06.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
/* line 258, ../sass/style.scss */
.resech-section .chart-container .chart-slide.chart-07 {
  position: absolute;
  left: 196px;
  top: 284px;
  width: 260px;
  height: 260px;
}
/* line 262, ../sass/style.scss */
.resech-section .tab-data {
  padding: 120px 0 0;
  overflow: hidden;
}
/* line 263, ../sass/style.scss */
.resech-section .tabnav {
  border-top: 8px solid #dadbd4;
}
/* line 264, ../sass/style.scss */
.resech-section .tabnav li {
  width: 33.333%;
  margin: 0;
  text-align: center;
  float: left;
}
/* line 265, ../sass/style.scss */
.resech-section .tabnav li a {
  border: 0;
  color: #3d3a3f;
  font-weight: 300;
  font-size: 22px;
  display: inline-block;
}
/* line 267, ../sass/style.scss */
.resech-section .tabnav li a:before {
  content: "";
  width: 22px;
  height: 22px;
  background: #502e61;
  margin: 0 0 15px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 269, ../sass/style.scss */
.resech-section .tabnav li.active a {
  color: #7bc144;
}
/* line 271, ../sass/style.scss */
.resech-section .tabnav li.active a:before {
  background: #7bc144;
}
/* line 273, ../sass/style.scss */
.resech-section .tabnav li:first-child {
  text-align: left;
}
/* line 275, ../sass/style.scss */
.resech-section .tabnav li:first-child a:before {
  margin: 0;
}
/* line 277, ../sass/style.scss */
.resech-section .tabnav li:last-child {
  text-align: right;
}
/* line 279, ../sass/style.scss */
.resech-section .tabnav li:last-child a:before {
  margin: 0;
  position: relative;
  left: 22px;
}
/* line 281, ../sass/style.scss */
.resech-section .tabnav li a:after {
  display: none;
}
/* line 282, ../sass/style.scss */
.resech-section .tab-container {
  width: 85%;
  margin: 0 auto;
  border: 0;
}
/* line 284, ../sass/style.scss */
.resech-section .tabcontent .year-box {
  width: 50.11764705882353%;
  float: left;
  font-size: 49px;
  font-weight: 900;
}
/* line 287, ../sass/style.scss */
.resech-section .tabcontent .year-box .square {
  width: 150px;
  position: relative;
  height: 150px;
  background: #eceeed;
  float: left;
}
/* line 289, ../sass/style.scss */
.resech-section .tabcontent .year-box .square:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid #eceeed;
  left: -20px;
  bottom: -20px;
}
/* line 292, ../sass/style.scss */
.resech-section .tabcontent .year-summary {
  width: 49.88235294117647%;
  float: left;
}
/* line 294, ../sass/style.scss */
.resech-section .tabcontent .year-summary h3 {
  font-weight: 700;
  margin: 0 0 10px;
  font-size: 30px;
  text-transform: uppercase;
}
/* line 296, ../sass/style.scss */
.resech-section .tabcontent .year-info {
  overflow: hidden;
  position: relative;
  left: -50px;
  height: 100%;
}
/* line 298, ../sass/style.scss */
.resech-section .tabcontent .year-info .box-col {
  position: relative;
}
/* line 300, ../sass/style.scss */
.resech-section .tabcontent .year-info .box-col:before {
  content: "";
  width: 180px;
  height: 1px;
  background: #eceeed;
  position: absolute;
  right: 0;
  top: 50%;
}
/* line 303, ../sass/style.scss */
.resech-section .tabcontent .box-info {
  text-align: left;
}
/* line 304, ../sass/style.scss */
.resech-section .tabcontent:after {
  display: table;
  content: "";
  clear: both;
}

/* line 310, ../sass/style.scss */
.blog-section-container {
  background: #f4f4f4;
  overflow: hidden;
}
/* line 312, ../sass/style.scss */
.blog-section-container .image-box {
  position: relative;
}
/* line 314, ../sass/style.scss */
.blog-section-container .image-box img {
  width: 100%;
  height: auto;
}
/* line 317, ../sass/style.scss */
.blog-section-container .col-sm-4 .col-container {
  margin-left: 32px;
  position: relative;
  border: 1px solid #d4d4d4;
}
/* line 318, ../sass/style.scss */
.blog-section-container .col-sm-4 .category-box {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
/* line 322, ../sass/style.scss */
.blog-section-container .col-sm-4 .col-info {
  padding: 26px;
}
/* line 324, ../sass/style.scss */
.blog-section-container .col-sm-4 .col-info h4 {
  margin: 0 0 10px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 326, ../sass/style.scss */
.blog-section-container .col-sm-4 .col-info h4:after {
  content: "";
  width: 110px;
  height: 1px;
  margin: 10px 0;
  background: #c4c4c4;
  display: block;
}
/* line 327, ../sass/style.scss */
.blog-section-container .col-sm-4 .col-info h4 a {
  color: #3e403e;
}
/* line 329, ../sass/style.scss */
.blog-section-container .col-sm-4 .col-info h4 a:hover {
  color: #00407c;
  text-decoration: none;
}
/* line 332, ../sass/style.scss */
.blog-section-container .col-sm-4 .col-info p {
  color: #454545;
}
/* line 334, ../sass/style.scss */
.blog-section-container .col-sm-4 .date-box {
  position: absolute;
  left: 0;
  text-align: center;
  top: 20px;
  margin-left: -27px;
  height: 54px;
  width: 54px;
  background: #00407c;
  color: #fff;
}
/* line 336, ../sass/style.scss */
.blog-section-container .col-sm-4 .date-box .month {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 337, ../sass/style.scss */
.blog-section-container .col-sm-4 .date-box .date {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  border: 0;
  top: -7px;
}
/* line 340, ../sass/style.scss */
.blog-section-container .category-box {
  background: #7bc144;
  position: relative;
  padding: 10px 10px 10px 45px;
}
/* line 342, ../sass/style.scss */
.blog-section-container .category-box:before {
  content: "";
  width: 24px;
  height: 19px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -375px -332px;
  position: absolute;
  left: 12px;
  top: 12px;
}
/* line 343, ../sass/style.scss */
.blog-section-container .category-box a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 346, ../sass/style.scss */
.news-letter-container {
  background: #502e61;
}
/* line 349, ../sass/style.scss */
.news-letter-container .page-title h3 {
  color: #fff;
}
/* line 351, ../sass/style.scss */
.news-letter-container .form-box {
  margin: 0 auto;
  width: 848px;
  position: relative;
}
/* line 353, ../sass/style.scss */
.news-letter-container .form-box input[type="text"] {
  padding: 4px 25px;
  height: 60px;
  line-height: 60px;
}
/* line 354, ../sass/style.scss */
.news-letter-container .form-box input[type="submit"] {
  position: absolute;
  right: -5px;
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0;
  border-radius: 0 6px 6px 0;
  top: 0;
  bottom: 0;
}

/* line 360, ../sass/style.scss */
#footer #footer-logo {
  display: block;
  width: 70%;
  margin: 0 0 30px;
}
/* line 362, ../sass/style.scss */
#footer #footer-logo img {
  width: 100%;
  height: auto;
}
/* line 364, ../sass/style.scss */
#footer .top-footer {
  background: #101014;
  padding: 40px 0;
  font-size: 16px;
  color: #b8b8b9;
}
/* line 366, ../sass/style.scss */
#footer .top-footer .cols {
  margin: 0 -10px;
}
/* line 367, ../sass/style.scss */
#footer .top-footer .cols.cols5 .col {
  padding: 0 10px;
}
/* line 368, ../sass/style.scss */
#footer .top-footer h3 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0 28px;
}
/* line 370, ../sass/style.scss */
#footer .top-footer h3:before {
  content: "";
  width: 44px;
  height: 1px;
  background: #7bc144;
  margin: 0 0 20px;
  display: block;
}
/* line 372, ../sass/style.scss */
#footer .top-footer .about-col {
  width: 23.722222222222223%;
}
/* line 373, ../sass/style.scss */
#footer .top-footer .quick-col {
  width: 18.194444444444444%;
}
/* line 374, ../sass/style.scss */
#footer .top-footer .product-col {
  width: 21.277777777777778%;
}
/* line 375, ../sass/style.scss */
#footer .top-footer .rd-col {
  width: 19.166666666666668%;
}
/* line 376, ../sass/style.scss */
#footer .top-footer .get-touch-col {
  width: 17.63888888888889%;
}
/* line 378, ../sass/style.scss */
#footer .top-footer .get-touch-col .col-info {
  position: relative;
  margin: 0 0 10px;
  padding-left: 28px;
}
/* line 380, ../sass/style.scss */
#footer .top-footer .get-touch-col .col-info:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -434px -302px;
}
/* line 382, ../sass/style.scss */
#footer .top-footer .get-touch-col .col-info.phone-col:before {
  width: 20px;
  height: 20px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -455px -302px;
}
/* line 385, ../sass/style.scss */
#footer .top-footer .get-touch-col .col-info.fax-col:before {
  width: 20px;
  height: 20px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -476px -302px;
}
/* line 388, ../sass/style.scss */
#footer .top-footer .get-touch-col .col-info.email-col:before {
  width: 20px;
  height: 20px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -498px -302px;
}
/* line 389, ../sass/style.scss */
#footer .top-footer .get-touch-col .col-info.email-col a {
  color: #7bc144;
}
/* line 396, ../sass/style.scss */
#footer .fmenu ul {
  padding-left: 15px;
}
/* line 400, ../sass/style.scss */
#footer .fmenu ul li a {
  display: block;
  color: #b8b8b9;
  text-transform: uppercase;
  padding-left: 20px;
  position: relative;
}
/* line 402, ../sass/style.scss */
#footer .fmenu ul li a:before {
  content: "";
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  width: 10px;
  height: 10px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -406px -308px;
  position: absolute;
  left: 0;
  top: 8px;
}
/* line 403, ../sass/style.scss */
#footer .fmenu ul li a:hover {
  color: #fff;
}
/* line 408, ../sass/style.scss */
#footer .bottom-footer {
  padding: 20px 0;
}
/* line 410, ../sass/style.scss */
#footer .bottom-footer .copyright-col {
  margin: 5px 0 0;
  text-transform: uppercase;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 412, ../sass/style.scss */
#footer .bottom-footer .social-col ul {
  float: right;
}
/* line 414, ../sass/style.scss */
#footer .bottom-footer .social-col ul li {
  float: left;
  margin: 0 0 0 10px;
  text-indent: -999em;
}
/* line 416, ../sass/style.scss */
#footer .bottom-footer .social-col ul li a {
  width: 40px;
  height: 40px;
  display: block;
}
/* line 417, ../sass/style.scss */
#footer .bottom-footer .social-col ul li.fb a {
  width: 40px;
  height: 40px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -25px -403px;
}
/* line 418, ../sass/style.scss */
#footer .bottom-footer .social-col ul li.tw a {
  width: 40px;
  height: 40px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -73px -403px;
}
/* line 419, ../sass/style.scss */
#footer .bottom-footer .social-col ul li.yt a {
  width: 40px;
  height: 40px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -124px -403px;
}
/* line 420, ../sass/style.scss */
#footer .bottom-footer .social-col ul li.in a {
  width: 40px;
  height: 40px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -171px -403px;
}
/* line 421, ../sass/style.scss */
#footer .bottom-footer .social-col ul li.fb a:hover {
  width: 40px;
  height: 40px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -89px -467px;
}
/* line 422, ../sass/style.scss */
#footer .bottom-footer .social-col ul li.tw a:hover {
  width: 40px;
  height: 40px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -137px -467px;
}
/* line 423, ../sass/style.scss */
#footer .bottom-footer .social-col ul li.yt a:hover {
  width: 40px;
  height: 40px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -188px -467px;
}
/* line 424, ../sass/style.scss */
#footer .bottom-footer .social-col ul li.in a:hover {
  width: 40px;
  height: 40px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -235px -467px;
}

/* line 432, ../sass/style.scss */
.news-slider .item {
  position: relative;
  padding: 0 0 0 48px;
  margin: 0 0 5px;
}
/* line 433, ../sass/style.scss */
.news-slider .date-box {
  width: 35px;
  padding: 5px 0;
  line-height: 0.75;
  height: auto;
  border: 1px solid #c57d00;
  text-align: center;
  position: absolute;
  left: 0;
  top: 5px;
}
/* line 434, ../sass/style.scss */
.news-slider .date {
  line-height: 1;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #c57d00;
}
/* line 435, ../sass/style.scss */
.news-slider .month {
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  color: #c57d00;
  text-transform: uppercase;
}
/* line 436, ../sass/style.scss */
.news-slider h3 {
  margin: 0 0 5px;
  line-height: 1.15;
  font-size: 16px;
  font-weight: 700;
}
/* line 438, ../sass/style.scss */
.news-slider h3 a {
  color: #5d3b00;
  text-transform: uppercase;
}
/* line 440, ../sass/style.scss */
.news-slider p {
  color: #925c00;
  font-size: 16px;
}

/* line 445, ../sass/style.scss */
.product-section .page-title {
  margin: 0;
}
/* line 447, ../sass/style.scss */
.product-section .page-title h3 {
  text-align: left;
  position: relative;
  padding-left: 100px;
}
/* line 449, ../sass/style.scss */
.product-section .page-title h3 span {
  font-size: 22px;
  color: #858585;
}
/* line 450, ../sass/style.scss */
.product-section .page-title h3:before {
  width: 68px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 10px;
}
/* line 454, ../sass/style.scss */
.product-section .row {
  margin: 0;
}
/* line 455, ../sass/style.scss */
.product-section .col-sm-6, .product-section .col-sm-3 {
  padding: 0;
}
/* line 456, ../sass/style.scss */
.product-section .product-section-box {
  overflow: hidden;
  border: 1px solid #eceeed;
  border-top: 0;
}
/* line 457, ../sass/style.scss */
.product-section .col-container {
  border-top: 1px solid #eceeed;
  padding: 20px;
  border-left: 1px solid #eceeed;
}
/* line 460, ../sass/style.scss */
.product-section .col-container .image-box img {
  width: 100%;
  height: auto;
}
/* line 464, ../sass/style.scss */
.product-section .col-sm-6 .col-container {
  border-left: 0;
}
/* line 466, ../sass/style.scss */
.product-section .even {
  background: #f8f8f8;
}
/* line 468, ../sass/style.scss */
.product-section .product-summary h4 {
  text-transform: uppercase;
  font-size: 26px;
  color: #3e403e;
  font-weight: 700;
}
/* line 470, ../sass/style.scss */
.product-section .product-summary h4 span {
  display: block;
  font-size: 18px;
  text-transform: none;
  color: #858585;
  font-weight: 400;
}
/* line 471, ../sass/style.scss */
.product-section .product-summary h4 a {
  color: #3e403e;
}
/* line 473, ../sass/style.scss */
.product-section .product-summary h4 a:hover {
  text-decoration: none;
  color: #00407c;
}
/* line 476, ../sass/style.scss */
.product-section .product-summary p {
  color: #858585;
}
/* line 479, ../sass/style.scss */
.product-section .title-box .product-summary {
  padding: 0 20px 0 100px;
}
/* line 481, ../sass/style.scss */
.product-section .title-box .product-summary .btn-primary {
  display: block;
  margin: 20px 0 0;
}
/* line 486, ../sass/style.scss */
.product-section .big-col figure {
  width: 270px;
  margin-right: 35px;
  float: left;
}
/* line 488, ../sass/style.scss */
.product-section .big-col figure img {
  width: 100%;
  height: auto;
}
/* line 490, ../sass/style.scss */
.product-section .big-col .product-summary {
  overflow: hidden;
}

/* line 496, ../sass/style.scss */
.slider-section .item {
  position: relative;
}
/* line 498, ../sass/style.scss */
.slider-section .item .banner-container {
  position: absolute;
  padding: 20px;
  left: 0;
  text-align: right;
  top: 0;
  z-index: 110;
  width: 100%;
  height: 100%;
}
/* line 500, ../sass/style.scss */
.slider-section .item .banner-container h3 {
  display: inline-block;
  margin: 0;
  text-align: left;
  font-size: 38px;
  color: #3e403e;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  padding-left: 50px;
}
/* line 502, ../sass/style.scss */
.slider-section .item .banner-container h3:before {
  content: "";
  width: 30px;
  height: 1px;
  background: #858585;
  position: absolute;
  left: 0;
  top: 10px;
}
/* line 503, ../sass/style.scss */
.slider-section .item .banner-container h3 span {
  display: block;
  font-size: 18px;
  color: #858585;
  letter-spacing: 0.05em;
  font-weight: 400;
}
/* line 504, ../sass/style.scss */
.slider-section .item .banner-container h3 span.right-align {
  text-align: right;
}

/* line 511, ../sass/style.scss */
#mainmenu, #search-form-box {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  left: 0;
  bottom: 0;
  -moz-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -o-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -ms-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  padding: 100px 0 0;
}
/* line 513, ../sass/style.scss */
#mainmenu.nav-open, #search-form-box.nav-open {
  opacity: 1;
  z-index: 200;
  transform: translateY(0);
  background: rgba(27, 27, 27, 0.8);
}
/* line 514, ../sass/style.scss */
#mainmenu .tabnav li a, #search-form-box .tabnav li a {
  color: #fff;
  font-size: 18px;
  border-bottom: 0;
}
/* line 515, ../sass/style.scss */
#mainmenu .tabnav li.active a, #search-form-box .tabnav li.active a {
  color: #7bc144;
}
/* line 516, ../sass/style.scss */
#mainmenu .tabnav li.active a:after, #search-form-box .tabnav li.active a:after {
  display: none;
}
/* line 517, ../sass/style.scss */
#mainmenu .page-title, #search-form-box .page-title {
  margin: 0 0 15px;
}
/* line 519, ../sass/style.scss */
#mainmenu .page-title h3, #search-form-box .page-title h3 {
  position: relative;
  padding-left: 45px;
  font-size: 30px;
  color: #fff;
  text-align: left;
}
/* line 521, ../sass/style.scss */
#mainmenu .page-title h3 span, #search-form-box .page-title h3 span {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
}
/* line 522, ../sass/style.scss */
#mainmenu .page-title h3:before, #search-form-box .page-title h3:before {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 8px;
}
/* line 525, ../sass/style.scss */
#mainmenu .tab-container, #search-form-box .tab-container {
  padding: 0;
  border: 0;
}
/* line 528, ../sass/style.scss */
#mainmenu .tab-container .tabcontent figure, #search-form-box .tab-container .tabcontent figure {
  text-align: left;
  margin-left: 40px;
}
/* line 530, ../sass/style.scss */
#mainmenu .tab-container .tabcontent figure img, #search-form-box .tab-container .tabcontent figure img {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 0 15px;
}
/* line 532, ../sass/style.scss */
#mainmenu .tab-container .tabcontent p, #search-form-box .tab-container .tabcontent p {
  color: #fff;
  font-size: 16px;
  padding-left: 40px;
}
/* line 538, ../sass/style.scss */
#mainmenu .tab-container ul li a, #search-form-box .tab-container ul li a {
  display: block;
  color: #fff;
  padding: 10px 15px 10px 35px;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
/* line 540, ../sass/style.scss */
#mainmenu .tab-container ul li a:before, #search-form-box .tab-container ul li a:before {
  content: "";
  position: absolute;
  left: 12px;
  top: 17px;
  width: 10px;
  height: 10px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -406px -308px;
}
/* line 541, ../sass/style.scss */
#mainmenu .tab-container ul li a:hover, #search-form-box .tab-container ul li a:hover {
  color: #7bc144;
  text-decoration: none;
}
/* line 544, ../sass/style.scss */
#mainmenu .tab-container ul li:first-child a, #search-form-box .tab-container ul li:first-child a {
  border-top: 0;
}

/* line 551, ../sass/style.scss */
#wrapper {
  -moz-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  transition: transform 0.5s;
}

/* line 555, ../sass/style.scss */
#wrapper.zoom-out {
  transform: scale(0.98);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
}

/* line 556, ../sass/style.scss */
.close-trigger, .close-search {
  right: 50px;
  top: 30px;
  font-size: 0;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
}
/* line 558, ../sass/style.scss */
.close-trigger:before, .close-search:before {
  content: "";
  width: 1px;
  height: 40px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 18px;
  top: 0;
}
/* line 559, ../sass/style.scss */
.close-trigger:after, .close-search:after {
  content: "";
  width: 1px;
  height: 40px;
  background: #fff;
  transform: rotate(-45deg);
  position: absolute;
  left: 18px;
  top: 0;
}

/* line 562, ../sass/style.scss */
.video-trigger {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 52px;
  height: 52px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -19px -462px;
  display: block;
  text-indent: -999em;
}

/* line 564, ../sass/style.scss */
.wow {
  visibility: hidden;
}

/* line 565, ../sass/style.scss */
.ie9 .wow {
  visibility: visible;
}

/* line 567, ../sass/style.scss */
#search-form-box .search-form {
  position: relative;
}
/* line 569, ../sass/style.scss */
#search-form-box .search-form input[type="submit"] {
  position: absolute;
  right: 6px;
  top: 8px;
  width: 40px;
  height: 40px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -275px -404px;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform-origin: right top;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  text-indent: -999em;
  padding: 0;
}
